* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}



.scene-container {
  width: 100vw;
  height: 100vh;
}


#scene {
  width: 100vw;
  height: 100vh;
}


.objName {
  position: absolute;
  z-index: 1000;
  min-width: 400px;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid #333333;
  left: 50vw;
  bottom: 20px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  padding: 5px 30px;
  transform: translate(-50%, 0);
}